* {
  padding: 0px;
}

body {
  position: relative;
  background-color: rgb(6, 37, 69);
  font-size: 20px;
  background-image: linear-gradient(
    45deg,
    #101a69 0%,
    #071679 50%,
    #000000 100%
  );
  margin: 0;
  min-height: 100vh;
}

.signup {
  padding-top: 0px;
  height: 1140px;
}
#heading {
  display: flex;
  color: white;
  font-size: 75px;
  justify-content: center;
}
#acc {
  color: #f4ab22;
}
#text {
  display: flex;
  color: lightblue;
  text-align: center;
  justify-content: center;
}
#text p {
  width: 800px;
  font-size: 30px;
  margin-top: 0px;
}
.form {
  margin: 30px auto;
  padding: 40px;
  text-align: center;
  background-color: #131743;
  border-radius: 15px;
  width: 40%;
  height: 670px;
  transition: transform 0.3s ease;
}
.form:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #f4ab22;
}
.form input {
  width: 90%;
  padding: 11px;
  border: 3px solid #f4ab22;
  border-radius: 10px;
  outline: none;
  font-size: 1rem;
  color: #131743;
  background-color: rgb(168, 185, 200);
  transition: 0.3s ease;
  margin-bottom: 20px;
}
.form label {
  display: flex;
  font-weight: bold;
  margin-bottom: 6px;
  color: #f4ab22;
  margin-top: 20px;
  font-size: 20px;
}
.form ::placeholder {
  color: rgb(39, 37, 37);
}
.spacing {
  margin-bottom: 40px;
}
.submit-button {
  font-size: 18px;
  padding: 12px;
  border-radius: 20px;
  background-color: #f4ab22;
  font-weight: bold;
  width: 175px;
  cursor: pointer;
  transition: 0.3s ease;
  margin-top: 20px;
}
.submit-button:hover {
  background-color: hsla(202, 55%, 56%, 0.607);
  color: rgb(255, 244, 244);
}
.submit-button:active {
  background-color: #f4ab22;
  color: rgb(0, 0, 0);
}
.link {
  margin-top: 15px;
  color: lightblue;
  font-size: 18px;
}
.link a {
  color: #f4ab22;
  text-decoration: none;
  font-weight: bold;
}
.link a:hover {
  text-decoration: underline;
}

.footer{
  width: 100%;
  height: 340px;
  background-color: #02051f;
  display: flex;
}

.imperial-info{
  width: 300px;
  height: 350px;
  color: white;
  font-size: 10px;
}

#imperial-footer{
  margin: 0px;
  padding-top: 50px;
  text-align: center;
  color: #f4ab22;
}

#image-footer{
  margin-top: 35px;
  width: 88px;
  height: 55px;
}

.footer1-para-div{
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  
}
.imageAndHeading{
  display: flex;
  color: white;
}

#para-footer1{
  text-align: center;
  margin-left: 10px;
  width: 290px;
  color: white;
  font-size: 14px;
}

.footer2{
  width: 25%;
  height: 400px;
  color: white;
  margin-left: 130px;
}

#ql{
  margin-left: 40px;
  padding-top: 34px;
  font-size: 20px;
  color: #f4ab22;
}

.footer2-items{
  margin-left: 40px;
  text-decoration: none;
  color: white;
}

.footer3{
  width: 25%;
  height: 400px;
  margin-left: 130px;
}

#contact-no{
  padding-top: 34px;
  color: white;
  font-size: 20px;
  color: #f4ab22;
}

#address{
  font-size: 16px;
  color: white;
}

#phone{
  font-size: 16px;
  color: white;
}

#email{
  font-size: 16px;
  color: white;
}

.footer4{

  width: 25%;
  height: 400px;
  color: white;
  margin-left: 230px;
}

#follow-us-heading{
  padding-top: 34px;
  font-size: 20px;
  color: #f4ab22;
  
}

.social-media-btns{
  gap: 10px;
  display: flex;
}

.social{
  background-color: transparent;
  padding: 5px;
  border-radius: 10px;
  font-size: 20px;
}

.copyright{
  height: 50px;
  background-color: #02051f;
}

#copy-para{
  margin-top: 0px;
  color: white;
  background-color: #02051f;
  text-align: center;
}

.fa-brands{
  
  color: #f4ab22;
}

.fa-solid{
  color: #f4ab22;
}
